<!--    Header with language change functionality starts-->
<header id="header" class="ng-scope">
    <!-- start abn amro header -->
    <div class="container-fluid-nomax ocf-header ng-scope">

        <div print-remove class="container-fluid" style="padding-bottom:4px;">
            <a ui-sref="about"><span class="ocf-brand ocf-cutout">
                </span></a>
            <div class="ocf-header-right">
                <div class="btn-group hidden-xs hidden-xxs">
                    <button class="btn btn-default" ng-class="vm.currentLocale('nl')" ng-click="vm.changeLocale('nl')">NL</button>
                    <button class="btn btn-default" ng-class="vm.currentLocale('en')" ng-click="vm.changeLocale('en')">EN</button>
                </div>
            </div>
        </div>
        <!-- begin navigation -->
        <div class="navbar-container">
            <nav class="navbar navbar-default navbar-main">
                <div class="container-fluid" style="height: auto;">
                    <!-- The actual items -->
                    <!-- The actual items -->
                    <ul class="nav navbar-nav">
                    </ul>

                </div>
            </nav>
            <!-- end navigation -->
        </div>
    </div>
    <!-- end abn amro header -->
</header>
<!--    Header with language change functionality ends-->
